<div class="navbox">
  <div class="navtitle">NAVIGATION</div>
  <div class="navlinks">
    <p
      class="<%= path === '/landing' ? 'navbuttonactive' : 'navbuttoninactive' %>"
    >
      <a
        href="landing"
        class="<%= path === '/landing' ? 'currentlink' : 'dirawaynav' %>"
        >Home</a
      >
    </p>
    <p
      class="<%= path === '/myprofile' ? 'navbuttonactive' : 'navbuttoninactive' %>"
    >
      <a
        href="myprofile"
        class="<%= path === '/myprofile' ? 'currentlink' : 'dirawaynav' %>"
        >My Profile</a
      >
    </p>
    <p
      class="<%= path === '/timesheets' ? 'navbuttonactive' : 'navbuttoninactive' %>"
    >
      <a
        href="timesheets"
        class="<%= path === '/timesheets' ? 'currentlink' : 'dirawaynav' %>"
        >Time Sheets</a
      >
    </p>
    <p
      class="<%= path === '/annualleave' ? 'navbuttonactive' : 'navbuttoninactive' %>"
    >
      <a
        href="annualleave"
        class="<%= path === '/annualleave' ? 'currentlink' : 'dirawaynav' %>"
        >Annual Leave</a
      >
    </p>
    <p
      class="<%= path === '/calendar' ? 'navbuttonactive' : 'navbuttoninactive' %>"
    >
      <a
        href="calendar"
        class="<%= path === '/calendar' ? 'currentlink' : 'dirawaynav' %>"
        >Calendar</a
      >
    </p>
  </div>
</div>
